@model UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@using (Html.BeginForm("UpdateGuest", "AdminGuest", FormMethod.Post))
{
    <input type="hidden" asp-for="GuestId" />
    <label>Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label>Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />

    <label> Şehir </label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />

    <button class="btn btn-outline-info">Misafir Güncelle</button>
}
